.big-container {
    height: 90vh;
}

.about-container {
    background-color: rgb(0, 0, 0, .5);
    border-radius: 8px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    margin: 2vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-pic {
   height: 55vh;
   width: 25vw;
   margin-top: 2vh;
   border: 2px white solid;
   border-radius: 8px;
}

.about-des {
    color: #d7fff5;
    font-size: 2.5vw;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.br {
    padding: 2vh;
}

@media (orientation: portrait) and (max-height: 1200px) {
    .mobile-portrait {
        height: 90vh;
    }

    .about-container {
        height: auto;
    }

    .about {
        margin: 3vh;
    }

    .about-pic {
        height: 50vh;
        width: 55vw;
    }

    .about-des {
        font-size: 6.5vw;
    }

    .br {
        padding: 2vh;
    }
}

@media (orientation: portrait) and (min-height: 1300px) {
    .mobile-portrait {
        height: 90vh;
    }

    .about-container {
        height: auto;
    }

    .about {
        margin: 2vh;
    }

    .about-pic {
        height: 65vh;
        width: 60vw;
    }

    .about-des {
        font-size: 6.5vw;
    }

    .br {
        padding: 2vh;
    }
}

@media (orientation: landscape) and (max-width: 1500px) {
    .mobile-portrait {
        height: 90vh;
    }

    .about-container {
        height: auto;
    }

    .about {
        margin: 2vh;
    }

    .about-pic {
        height: 70vh;
        width: 30vw;
    }

    .about-des {
        font-size: 3vw;
    }

    .br {
        padding: 2vh;
    }
}