@font-face {
  font-family: 'Playball-Regular';
  src: url('../fonts/Playball-Regular.ttf');
}

.App {
  height: 100%;
  font-size: 16px;
  font-family: courgette;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  font-family: 'Playball-Regular';
  text-decoration: none;
}




/* NAVBAR */
.navbar {
  width: 100%;
  margin-bottom: 7vh;
  font-family: 'Playball-Regular';
  background-color: rgb(37, 37, 37);
  border-bottom: 4px solid #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: nav-load var(--nav-load-time) ease-in;
}

.navbar a {
  font-size: 3.5em;
}

.navbar a:hover {
  color: rgb(37, 37, 37);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}




/* LOADING */
.loading {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: green;
  animation-name: loading;
  animation-duration: 3.5s;
}




/* MEDIA QUERIES  */

/* PORTRAIT */
@media (orientation: portrait) and (max-height: 1500px) {
  .navbar {
    justify-content: flex-end;
  }

  #drop-menu {
    background-color: rgb(37, 37, 37);
    font-size: 2em;
  }
}


/* LANDSCAPE  */
@media (orientation: landscape) and (max-width: 1000px) {
  .navbar {
    justify-content: flex-end;
  }

  #drop-menu {
    background-color: rgb(37, 37, 37);
    font-size: 2em;
  }
}


@keyframes loading {
  0% {background-color: #000000;}
  50% {background-color: #000000;}
  100% {background-image: white;}
}