.home {
    width: 95%;
    font-family: 'Playball-Regular';
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(37, 37, 37);
    font-size: 5vw;
    display: flex;
    flex-direction: column;
}

.name {
    animation: name-load var(--name-load-time) ease-out;
}

.home-links-container {
    display: flex;
    justify-content: space-evenly;
    animation: links-load var(--links-load-time) ease-out;
}

.home-links-container a {
    margin: 0 1vh 0 1vh;
}

img.home-links {
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    height: 15vh;
    width: 100%;
    padding: .5vh;
    object-fit: contain;
}




/* MEDIA QUERIES  */

/* PORTRAIT */
@media (orientation: portrait) and (max-height: 1500px) {
    .name h1{
        font-size: 3em;
    }

    .name h3 {
        font-size: 1.25em;
    }

   .home-links-container {
       flex-wrap: wrap;
   }
}




/* @media (orientation: portrait) and (max-height: 900px) {
    .home {
        font-size: 8.7vw;
    }

    .container-links {
        display: flex;
        flex-wrap: wrap;
    }

    img.home-links {
        height: 9vh;
        width: 18vw;
        margin: 6vw;
    }
}

@media (orientation: portrait) and (min-height: 1300px) {
    .home {
        font-size: 8.7vw;
    }

    .container-links {
        display: flex;
        flex-wrap: wrap;
    }

    img.home-links {
        height: 12vh;
        width: 19vw;
        margin: 6vw;
    }
}

@media (orientation: landscape) and (max-width: 1500px) {
    img.home-links {
        height: 15vh;
        width: 10vw;
    }
} */