.project-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 90vw;
    margin-bottom: 7vh;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    background-color: rgb(37, 37, 37);
    border: white solid 4px;
    border-radius: 8px;
    height: 75vh;
    width: 40%;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-vid-pic {
    border-radius: 4px 4px 0 0;
    height: 35%;
    width: 100%;
}

.project-des {
    color: #ffbb00;
    height: 55%;
    width: 95%;
    font-size: 1.35em;
}

.project-des h2 {
    font-family: 'Playball-Regular';
    text-decoration: underline;
    font-size: 1.45em;
}

.project-des h2:nth-child(1) {
    color: #90c9bd;
}

.project-des p:nth-child(2) {
    color: #90c9bd;
}

a.project-link {
    background-color: black;
    height: 10%;
    width: 100%;
    font-size: 1.4em;
    font-family: 'Playball-Regular';
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.gitPic {
    height: 90%;
    width: 10%;
    margin-right: .5vw;
    object-fit: contain;

}

.project-link-container {
    height: 10%;
    width: 100%;
    display: flex;
}

a.project-link-web-git{
    color: black;
    background-color: white;
    height: 100%;
    width: 50%;
    font-size: 1.4em;
    font-family: 'Playball-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
}

a.project-link-web-git:nth-child(2) {
    color: white;
    background-color: black;
}

img.web-git-pic {
    height: 90%;
    width: 20%;
    margin-right: .5vw;
    object-fit: contain;
}




/* MEDIA QUERIES  */

/* PORTRAIT */
@media (orientation: portrait) and (max-height: 1500px) {
    .project-card {
        height: fit-content;
        width: 90%;
    }
}


/* LANDSCAPE  */
@media (orientation: landscape) and (max-width: 1000px) {
    .project-card {
        height: fit-content;
        width: 90%;
    }
}