.big-container {
    height: 90vh;
}

.projects-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.project-card {
    background-color: rgb(37, 37, 37);
    width: 25vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.description {
    margin: .5vh;
}

.title {
    color: #90c9bd;
    font-family: cursive;
    font-size: 2vw;
    text-decoration: underline;
}

.readMe {
    color: #c0e0d9;
    font-size: 1.8vw;
}

.tech {
    color: #ffbb00;
    font-family: cursive;
    font-size: 2vw;
    text-decoration: underline;
}

.tools {
    color: #e0ba52;
    font-size: 1.8vw;
}

.repo {
    color: white;
    font-size: 1.8vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    background-color: black;
}

iframe.project-vid {
    height: 30vh;
    border-radius: 8px 8px 0px 0px;
}

img.repo-pic {
    height: 4vh;
    margin-right: .5vw;
}

@media (orientation: portrait) and (max-height: 1200px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .project-card {
        width: 80vw;
    }

    .title {
        font-size: 7vw;
    }

    .readMe {
        font-size: 5vw;
    }

    .tech {
        font-size: 7vw;
    }

    .tools {
        font-size: 5vw;
    }

    .repo {
        font-size: 5vw;
    }
}

@media (orientation: portrait) and (min-height: 1300px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .project-card {
        width: 80vw;
    }

    .title {
        font-size: 6vw;
    }

    .readMe {
        font-size: 5vw;
    }

    .tech {
        font-size: 6vw;
    }

    .tools {
        font-size: 5vw;
    }

    .repo {
        font-size: 5vw;
    }
}

@media (orientation: landscape) and (max-width: 1500px) {
    .project-card {
        width: 35vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .title {
        font-size: 4vw;
    }

    .readMe {
        font-size: 2.5vw;
    }

    .tech {
        font-size: 4vw;
    }

    .tools {
        font-size: 2.5vw;
    }

    .repo {
        height: 10vh;
        font-size: 3vw;
    }

    img.repo-pic {
        height: 6.5vh;
    }
}